html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
	/* Set your content font stack here: */
	font-family: Georgia, Times, "Times New Roman", serif;
}

body {
	background-color: #f5f5f5;
}

#header-container {
	background:#cc0339;
	padding:0;
	min-height:360px;
}

#footer-container {
	background:#333;
	padding:0;
	color:#fff;
}

#mycontent {
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
}

.l-box {
	padding: 1em;
}

#mycontent > .l-box {
	border-left:1px solid rgba(0,0,0,.1);
	border-right:1px solid rgba(0,0,0,.1);
}

