/* TODO réorganiser plus tard */
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
	/* Set your content font stack here: */
	font-family:"Open Sans",sans-serif;
}

body {
	background-color: #f5f5f5;
	-webkit-font-smoothing: antialiased;
}

#header-container {
	background:#cc0339;
	padding:0;
	min-height:360px;
}

#header-container > div{
	margin-left:auto;
	margin-right:auto;
}

#content-container {
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
}

/* TODO voir pour avoir un autre l-box pour le contenu, 2/3 em. */
/* TODO voir pour avoir un autre l-box, juste horizontal */
.l-box {
	padding: 1em;
}

#content-container > .l-box {
	border-left:1px solid rgba(0,0,0,.1);
	border-right:1px solid rgba(0,0,0,.1);
}

/******************** footer start ********************/
#footer {
	background-color:#333;
	background-image:url('../images/background-pattern.png');
	padding:0;
	color:#fff;
	font-size:0.75em;
	line-height:2em;
	font-weight:300;
}

#footer > div {
	margin-left:auto;
	margin-right:auto;
}

#footer .title {
	text-transform:uppercase;
	font-weight:600;
}

#footer ul {
	padding-left:0;
	list-style-type:none;
	margin-top:0;
	margin-bottom:0;
}

#footer a {
	color:#fff;
	text-decoration:none;
}

#footer a:hover, #footer a:focus {
	text-decoration:underline;
}

#footer a[type*="atom+xml"]::before,
#footer a[type*="rss+xml"]::before,
#footer a[href*="/archives"]::before,
#footer a[href*="/authors"]::before,
#footer a[href*="/sitemap.xml"]::before,
#footer a[href*="/tags"]::before,
#footer a[href*="500px"]::before,
#footer a[href*="facebook"]::before,
#footer a[href*="github"]::before,
#footer a[href*="linkedin"]::before,
#footer a[href*="paypal"]::before,
#footer a[href*="twitter"]::before {
	font-family:"FontAwesome";
	margin-right:0.5em;
	display:inline-block;
	color:#eee;
}

#footer a[href*="/archives"]::before {
	content:"\f187";
}

#footer a[href*="/authors"]::before {
	content:"\f040";
}

#footer a[href*="/sitemap.xml"]::before {
	content:"\f0e8";
}

#footer a[href*="/tags"]::before {
	content:"\f02c";
}

#footer a[href*="500px"]::before {
	content:"\f26e";
}

#footer a[href*="facebook"]::before {
	content:"\f230";
}

#footer a[href*="github"]::before {
	content:"\f09b";
}

#footer a[href*="linkedin"]::before {
	content:"\f0e1";
}

#footer a[href*="paypal"] {
	color:#f96;
	font-weight:600;
}

#footer a[href*="paypal"]::before {
	content:"\f1ed";
	color:#f96;
}

#footer a[href*="twitter"]::before {
	content:"\f099";
}

#footer a[type*="atom+xml"]::before,
#footer a[type*="rss+xml"]::before {
	content:"\f09e";
}
/******************** footer end ********************/

#post-list {
	margin:0;
}

#post-list .time {
	font-size:0.8em;
	font-weight:300;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

#post-list .time time {
	margin-right:1.5em;
}

#post-list .title {
	font-size:0.9em;
}

#paginator {
	margin:2em auto 0 auto;
	text-align:center;
	font-size:0.9em;
	font-weight:300;
}

#post-list, #paginator {
	line-height:2em;
}

#post-list .title a, #paginator a {
	color:#f33;
	text-decoration:none;
}

#post-list .title a:hover, #post-list .title a:focus, #paginator a:hover, #paginator a:focus {
	text-decoration:underline;
}

/* TODO voir dans quelle classe h2 se situe */
h2[id], h2[id] a, h2[id] a:focus, h2[id] a:hover,
h3[id], h3[id] a, h3[id] a:focus, h3[id] a:hover,
h4[id], h4[id] a, h4[id] a:focus, h4[id] a:hover,
h5[id], h5[id] a, h5[id] a:focus, h5[id] a:hover,
h6[id], h6[id] a, h6[id] a:focus, h6[id] a:hover {
	text-decoration:none;
	display:block;
	font-weight:600;
	color:#444;
}

h2[id], h3[id], h4[id], h5[id], h6[id] {
	margin-top:1em;
	margin-bottom:1em;
}

h2[id], h2[id] a {
	font-size:1.25em;
}
h3[id], h3[id] a {
	font-size:1.2em;
}
h4[id], h4[id] a {
	font-size:1.15em;
}
h5[id], h5[id] a {
	font-size:1.1em;
}
h6[id], h6[id] a {
	font-size:1.05em;
}
h2[id]::after,
h3[id]::after,
h4[id]::after,
h5[id]::after,
h6[id]::after {
	display:block;
	content:" ";
	margin-top:.125em;
	width:100%;
}
h2[id]::after {
	border-bottom:.5em solid #f33;
}
h3[id]::after {
	border-bottom:.4em solid #f53;
}
h4[id]::after {
	border-bottom:.3em solid #f73;
}
h5[id]::after {
	border-bottom:.2em solid #f93;
}
h6[id]::after {
	border-bottom:.1em solid #fb3;
}
h2[id] a:focus::after, h2[id] a:hover::after,
h3[id] a:focus::after, h3[id] a:hover::after,
h4[id] a:focus::after, h4[id] a:hover::after,
h5[id] a:focus::after, h5[id] a:hover::after,
h6[id] a:focus::after, h6[id] a:hover::after {
	content:"\f0c1";
	font-family:"FontAwesome";
	float:right;
}

::selection {
	background:#f83; /* Safari */
	color:#FFF;
}

::-moz-selection {
	background:#f83; /* Firefox */
	color:#FFF;
}

.highlight {
	margin-top:1em;
	margin-bottom:1em;
}
.highlight pre {
	padding:2em;
	background-image:url('../images/background-pattern.png');
	border:none;
	font-size:.8em;
	font-weight:300;
	font-family:Consolas,monaco,monospace;
	background-color:#333;
	color:#fff;
}




/******************** article begin ********************/

.article div.toc {
	font-weight:300;
	font-size:0.9em;
	line-height:1.5em;
}

.article div.toc,
.article a {
	color:#f33;
}

.article div.toc ul {
	padding-left:2em;
	list-style-position:inside;
}

.article div.toc > ul {
	padding-left:0;
	margin-top:1em;
	margin-bottom:1em;
}

.article a {
	text-decoration:none;
}

.article a:focus,
.article a:hover {
	text-decoration:underline;
}

/******************** article end ********************/

/******************** header begin ********************/

#header-container {
	color:#fff;
}

#header-container a {
	color:#fff;
	text-decoration:none;
}

#header-container a:hover,
#header-container a:focus {
	text-decoration:underline;
}

#banner h1 a:hover,
#banner h1 a:focus {
	text-decoration:none;
}

#banner h1 {
	text-align:center;
	font-size:1.75em;
	font-weight:600;
}

#banner h1::after {
	display:block;
	content:" ";
	margin-top:.125em;
	width:10%;
	border-bottom:.1em solid #fff;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:.125em;
}

#banner h1:hover::after {
	width:50%;
}

#banner h1::after,
#banner h1:hover::after {
	-webkit-transition:width .5s ease-in-out;
	-moz-transition:width .5s ease-in-out;
	-ms-transition:width .5s ease-in-out;
	-o-transition:width .5s ease-in-out;
	transition:width .5s ease-in-out;
}

#banner .subtitle {
	text-align:center;
	font-size:0.9em;
	font-weight:300;
}

#banner .subtitle a {
	font-weight:600;
}

#menu {
	text-align:right;
}

#menu ul {
	list-style-type:none;
	margin:0;
}

#menu ul li {
	display:inline-block;
	text-transform:uppercase;
	font-weight:600;
	font-size:.8em;
	margin-left:1em;
}

#menu ul li a {
	padding:1em;
}

#menu ul li a:focus,
#menu ul li a:hover {
	background-color:rgba(0,0,0,.2);
	text-decoration:none;
}

#tags {
	text-align:right;
	font-size:0.8em;
	font-weight:600;
}

/******************** header end ********************/


