html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
	/* Set your content font stack here: */
	font-family:"Open Sans",sans-serif;
}

body {
	background-color: #f5f5f5;
	-webkit-font-smoothing: antialiased;
}

#header-container {
	background:#cc0339;
	padding:0;
	min-height:360px;
}

#mycontent {
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
}

/* TODO voir pour avoir un autre l-box pour le contenu, 2/3 em. */
/* TODO voir pour avoir un autre l-box, juste horizontal */
.l-box {
	padding: 1em;
}

#mycontent > .l-box {
	border-left:1px solid rgba(0,0,0,.1);
	border-right:1px solid rgba(0,0,0,.1);
}

#footer {
	background-color:#333;
	padding:0;
	color:#fff;
	font-size:0.75em;
	line-height:2em;
	font-weight:300;
}

#footer > div {
	margin-left:auto;
	margin-right:auto;
}

#footer div.title {
	text-transform:uppercase;
	font-weight:600;
}

#footer ul {
	padding-left:0;
	list-style-type:none;
	margin-top:0;
	margin-bottom:0;
}

#footer a {
	color:#fff;
	text-decoration:none;
}

#footer a:hover, #footer a:focus {
	text-decoration:underline;
}

#post-list {
	margin:0;
}

#post-list .time {
	font-size:0.8em;
	font-weight:300;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

#post-list .time time {
	margin-right:1.5em;
}

#post-list .title {
	font-size:0.9em;
}

#paginator {
	margin:2em auto 0 auto;
	text-align:center;
	font-size:0.9em;
	font-weight:300;
}

#post-list, #paginator {
	line-height:2em;
}

#post-list .title a, #paginator a {
	color:#eb2344;
	text-decoration:none;
}

#post-list .title a:hover, #post-list .title a:focus, #paginator a:hover, #paginator a:focus {
	text-decoration:underline;
}

/* TODO voir dans quelle classe h2 se situe */
h2 {
	font-size:1.25em;
	font-weight:600;
	color:#4b505a;
}
h2:after {
	display:block;
	content:" ";
	margin-top:.125em;
	width:5em;
	border-bottom:.25em solid #eb2344;
}

