{% extends "base.html" %}
{% block title %}{{ article.title|striptags|e }} - {{ super() }}{% endblock title %}
{% block body_class %}article{% endblock body_class %}
{% block canonical_url %}{{ SITEURL }}/{{ article.url }}{% endblock canonical_url %}

{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{ tag }}" />
  {% endfor %}

{% endblock head %}

{% block title_header %}
	<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalien vers {{ article.title|striptags }}">{{ article.title }}</a>
{% endblock title_header %}

{% block subtitle_header %}
	Écrit
    {% if article.authors %}
      par {% for author in article.authors %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>,
        {% endfor %}
    {% endif %}
	le
    <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
	{% if article.modified %}
	et modifié le
    <time class="modified" datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time>
	{% endif %}
	{% if article.category %}
	    dans la catégorie
		<a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
	{% endif %}
{% endblock subtitle_header %}

{% block extra_header %}
	{% if article.tags %}
	<div id="tags">
		<i class="fa fa-tags" aria-hidden="true"></i>
		{% for tag in article.tags %}
			<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
			{{ "," if not loop.last }}
		{% endfor %}
	</div>
	{% endif %}
{% endblock extra_header %}

{% block content %}
<section id="content">
    {{ article.content }}
</section>
{% endblock content %}
