{% extends "base.html" %}
{% block title %}{{ article.title|striptags|e }} - {{ super() }}{% endblock title %}
{% block body_class %}article{% endblock body_class %}
{% block description -%}
  {%- if article.summary -%}
    {{ article.summary|striptags|truncate(160)|e }}
  {%- else -%}
    {{ article.content|striptags|truncate(160)|e }}
  {%- endif -%}
{%- endblock description %}
{% block keywords -%}
    {%- for tag in article.tags -%}
        {{- tag -}}
        {{- "," if not loop.last -}}
    {%- endfor -%}
{%- endblock keywords %}
{% block canonical_url %}{{ SITEURL }}/{{ article.url }}{% endblock canonical_url %}

{% block head %}
    {{ super() }}

    {% for tag in article.tags %}
        <meta name="tags" content="{{ tag }}"/>
    {% endfor %}

{% endblock head %}

{% block title_header %}
  <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
     title="Permalien vers {{ article.title|striptags|e }}">{{ article.title|striptags|e }}</a>
{% endblock title_header %}

{% block subtitle_header %}
  Écrit
  {% if article.authors %}
    par
    {% for author in article.authors %}
      <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>,
    {% endfor %}
  {% endif %}
  le
  <time class="published" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
  {% if article.modified %}
    et modifié le
    <time class="modified" datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time>
  {% endif %}
  {% if article.category %}
    dans la catégorie
    <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
  {% endif %}
{% endblock subtitle_header %}

{% block extra_header %}
  {% if article.tags %}
    <div id="tags">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" viewBox="0 0 512 512"><!-- https://fontawesome.com/license/free --><path fill="currentColor" d="M345 39.1L472.8 168.4c52.4 53 52.4 138.2 0 191.2L360.8 472.9c-9.3 9.4-24.5 9.5-33.9 .2s-9.5-24.5-.2-33.9L438.6 325.9c33.9-34.3 33.9-89.4 0-123.7L310.9 72.9c-9.3-9.4-9.2-24.6 .2-33.9s24.6-9.2 33.9 .2zM0 229.5V80C0 53.5 21.5 32 48 32H197.5c17 0 33.3 6.7 45.3 18.7l168 168c25 25 25 65.5 0 90.5L277.3 442.7c-25 25-65.5 25-90.5 0l-168-168C6.7 262.7 0 246.5 0 229.5zM144 144a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"/></svg>
      {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        {{ "," if not loop.last }}
      {% endfor %}
    </div>
  {% endif %}
{% endblock extra_header %}

{% block header_class -%}
  {%- if article.headerimage or QANUQ_HEADER_IMAGE -%}
    image
  {%- endif -%}
{%- endblock header_class %}"

{% block header_style -%}
  {%- if article.headerimage -%}
    background-image:url('{{ SITEURL }}/images/{{ article.headerimage }}');
  {%- elif QANUQ_HEADER_IMAGE %}
    background-image:url('{{ SITEURL }}/images/{{ QANUQ_HEADER_IMAGE }}');
  {%- endif %}
{%- endblock header_style %}

{% block content %}
  <article>
    {{ article.content }}
  </article>
{% endblock content %}
