<!DOCTYPE html>
<html lang="fr">
  <head>
    {% block head %}
      <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
	  <meta name="description" content="{% block description %}{{ SITENAME }}, {{ SITESUBTITLE }}{% endblock description %}" />
	  <meta name="keywords" content="{% block keywords %}{{ SITENAME }}{% endblock keywords %}" />
      <link rel="canonical" href="{% block canonical_url %}{{ SITEURL }}/{% endblock canonical_url %}" />

      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" />
      {# TODO https://stackoverflow.com/questions/25952907/favicon-ico-vs-link-rel-shortcut-icon #}
      {# <link rel="icon shortcut" href="{{ SITEURL }}/favicon.ico" /> #}

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css" integrity="sha384-4aMEnBa9HzMLsDYaLm5wiA2ZoWDqNSB6pNnINMFUt13g9VOuTY5hZC49pzHzRXVs" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous" />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" integrity="sha384-zSu8LMfA4z+XX+S+3seN6uTKIYy1Qcfk0dNE+/0SHT5UgOHCnFeHjR16aowIFpII" crossorigin="anonymous" />
      <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" />
      <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment.css" />

      {% if FEED_DOMAIN %}
        {% if FEED_ATOM %}
          <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate"
                title="Flux Atom du site, {{ SITENAME }}" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
          <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}"
                type="application/atom+xml" rel="alternate" title="Flux Atom des catégories, {{ SITENAME }}" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
          <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM.format(slug=tag.slug) }}" type="application/atom+xml"
                rel="alternate" title="Flux Atom des étiquettes, {{ SITENAME }}" />
        {% endif %}
        {% if AUTHOR_FEED_ATOM and author %}
          <link href="{{ FEED_DOMAIN }}/{{ AUTHOR_FEED_ATOM.format(slug=author.slug) }}" type="application/atom+xml"
                rel="alternate" title="Flux Atom des Auteurs, {{ SITENAME }}" />
        {% endif %}
      {% endif %}

    {% endblock head %}
  </head>

  <body class="{% block body_class %}{% endblock body_class %}">

    <header class="pure-g">
      <div class="pure-u-1 pure-u-md-20-24 pure-u-lg-16-24">
        <div class="pure-g">
          <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
            <div class="l-box">
              {# <div>Mon Logo Ici</div> #}
            </div>
          </div>
          <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
            <div class="l-box">
              <nav id="menu">
                <ul>
                  {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                  {% endfor %}
                  {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in pages %}
                      <li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                    {% endfor %}
                  {% endif %}
                </ul>
              </nav>
            </div>
          </div>
        </div>

        <div id="banner">
          <div class="l-box">
            <h1>{% block title_header %}<a href="{{ SITEURL }}/">{{ SITENAME }}</a>{% endblock title_header %}</h1>
            <p class="subtitle">{% block subtitle_header %}{{ SITESUBTITLE }}{% endblock subtitle_header %}</p>
            {% block extra_header %}{% endblock extra_header %}
          </div>
        </div>

      </div>
    </header>

    <section id="content" class="pure-g">
      <div class="pure-u-1 pure-u-md-20-24 pure-u-lg-16-24">
        <div class="l-box">
          {% block content %}{% endblock content %}
        </div>
      </div>
    </section>

    <footer id="footer" class="pure-g">
      <div class="pure-u-1 pure-u-md-20-24 pure-u-lg-16-24">
        <div class="pure-g">
          <div class="pure-u-1-2 pure-u-md-1-2 pure-u-lg-1-4">
            <div class="l-box">
              <dl>
                <dt>Navigation</dt>
                {% if ARCHIVES_SAVE_AS %}
                  <dd><a href="{{ SITEURL }}/{{ ARCHIVES_SAVE_AS }}" class="nav-archives">Archives</a></dd>
                {% endif %}
                {% if AUTHORS_SAVE_AS %}
                  <dd><a href="{{ SITEURL }}/{{ AUTHORS_SAVE_AS }}" class="nav-auteurs">Auteurs</a></dd>
                {% endif %}
                {% if CATEGORIES_SAVE_AS %}
                  <dd><a href="{{ SITEURL }}/{{ CATEGORIES_SAVE_AS }}" class="nav-categories">Catégories</a></dd>
                {% endif %}
                {% if TAGS_SAVE_AS %}
                  <dd><a href="{{ SITEURL }}/{{ TAGS_SAVE_AS }}" class="nav-etiquettes">Étiquettes</a></dd>
                {% endif %}
                {% if FEED_DOMAIN and FEED_ATOM %}
                  <dd><a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" class="nav-atom" type="application/atom+xml"
                         rel="alternate">Flux Atom</a></dd>
                {% endif %}
                {% if SITEMAP %}
                  <dd><a href="{{ SITEURL }}/sitemap.{{ SITEMAP.format }}" class="nav-sitemap">Sitemap</a></dd>
                {% endif %}
              </dl>
            </div>
          </div>
          <div class="pure-u-1-2 pure-u-md-1-2 pure-u-lg-1-4">
            <div class="l-box">
              {% if SOCIAL %}
                <dl>
                  <dt>{{ SOCIAL_WIDGET_NAME|default('Social') }}</dt>
                  {% for name, link in SOCIAL %}
                    <dd><a href="{{ link }}">{{ name }}</a></dd>
                  {% endfor %}
                </dl>
              {% endif %}
            </div>
          </div>
          <div class="pure-u-1-2 pure-u-md-1-2 pure-u-lg-1-4">
            <div class="l-box">
              {% if LINKS %}
                <dl>
                  <dt>{{ LINKS_WIDGET_NAME|default('Liens') }}</dt>
                  {% for name, link in LINKS %}
                    <dd><a href="{{ link }}">{{ name }}</a></dd>
                  {% endfor %}
                </dl>
              {% endif %}
            </div>
          </div>
          <div class="pure-u-1-2 pure-u-md-1-2 pure-u-lg-1-4">
            <div class="l-box">
              <ul>
                <li>
                  <small><em>Proudly powered by <a href="http://getpelican.com/">Pelican</a></em></small>
                </li>
                <li>
                  <small><em>which takes great advantage of <a href="http://python.org">Python</a></em></small>
                </li>
                <li>
                  <small>{{ QANUQ_COPYRIGHT }}</small>
                </li>
                {% if QANUQ_FOOTER_HTML %}
                  <li>
                    <small><em>{{ QANUQ_FOOTER_HTML }}</em></small>
                  </li>{% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
