{% extends "base.html" %}
{% block title %}{{ page.title|striptags|e }} - {{ super() }}{% endblock title %}
{% block body_class %}page{% endblock body_class %}
{% block description -%}
  {%- if page.summary -%}
    {{ page.summary|striptags|truncate(160)|e }}
  {%- else -%}
    {{ page.content|striptags|truncate(160)|e }}
  {%- endif -%}
{%- endblock description %}
{% block canonical_url %}{{ SITEURL }}/{{ page.url }}{% endblock canonical_url %}

{% block title_header %}
  <a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark"
     title="Permalien vers {{ page.title|striptags|e }}">{{ page.title|striptags|e }}</a>
{% endblock title_header %}

{% block content %}
  <article>
    {{ page.content }}
  </article>
{% endblock content %}
