{% extends "base.html" %}
{% block title %}{{ page.title|striptags|e }} - {{ super() }}{% endblock title %}
{% block body_class %}page{% endblock body_class %}
{% block description -%}
  {%- if page.summary -%}
    {{ page.summary|striptags|truncate(160)|e }}
  {%- else -%}
    {{ page.content|striptags|truncate(160)|e }}
  {%- endif -%}
{%- endblock description %}
{% block canonical_url %}{{ SITEURL }}/{{ page.url }}{% endblock canonical_url %}

{% block title_header %}
  <a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark"
     title="Permalien vers {{ page.title|striptags|e }}">{{ page.title|striptags|e }}</a>
{% endblock title_header %}

{% block subtitle_header %}
  Écrit
  {% if page.authors %}
    par
    {% for author in page.authors %}
      <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>,
    {% endfor %}
  {% endif %}
  le
  <time class="published" datetime="{{ page.date.isoformat() }}">{{ page.locale_date }}</time>
  {% if page.modified %}
    et modifié le
    <time class="modified" datetime="{{ page.modified.isoformat() }}">{{ page.locale_modified }}</time>
  {% endif %}
{% endblock subtitle_header %}

{% block content %}
  <article>
    {{ page.content }}
  </article>
{% endblock content %}
