{% extends "base.html" %}
{% block content_class %}page{% endblock content_class %}
{% block title %}{{ SITENAME }} - {{ page.title }}{%endblock%}
{% block content %}
	{# TODO passer en h1 dans le header ? #}
    <h2>{{ page.title }}</h2>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    {{ page.content }}

	{% if page.modified %}
		<p>
		{# TODO traduction #}
		Last updated: {{ page.locale_modified }}
		</p>
	{% endif %}
{% endblock %}
