{% extends "base.html" %}
{% block title %}Archives pour {{ period | reverse | join(' ') }} - {{ super() }}{% endblock title %}
{% block body_class %}period_archives{% endblock body_class %}
{# TODO vérifier que cette URL est ok #}
{% block canonical_url %}{{ SITEURL }}/{{ output_file }}{% endblock canonical_url %}

{% block content %}
<h2 class="title">Archives pour {{ period | reverse | join(' ') }}</h2>
{# TODO mettre à jour #post-list vs #content #}
<div id="post-list">
	{% for article in dates %}
	<div class="pure-g">
		<div class="pure-u-1 pure-u-md-1-4 time">
			<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
		</div>
		<div class="pure-u-1 pure-u-md-3-4 title">
			<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalien vers {{ article.title|striptags }}">{{ article.title }}</a>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock content %}
